name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Generate Dokka Markdown
        run: ./gradlew library:dokkaGenerateMarkdown
      - name: Update README.md with Dokka docs (local only)
        run: |
          DOCS_DIR="library/build/dokka/markdown/library/io.github.rain991.extensions"
          TMP_DOCS=$(mktemp)
          cat $DOCS_DIR/*.md > $TMP_DOCS
          sed -i.bak '/<!-- DOCS START -->/,/<!-- DOCS END -->/c\
          <!-- DOCS START -->\
          '"$(cat $TMP_DOCS)"'\
          <!-- DOCS END -->' README.md
      - name: Show README diff
        run: git --no-pager diff README.md